.main-category-container{
    display: block;
    height: 100%;
    width: 15%;
    
    position: fixed;
    padding-top: 6%;
    padding-left: 2%;
}
.category-container{
    display: grid;
    margin-left: 1rem;
    
}